extends ./templates/layout
block content
  h1= title
  p Welcome to #{title}
  p #{text}
  p Callback:

    table.table-bordered
      tbody
        each item, index in results
          tr
            td= index
            td= item
